---
interface Props {
  timespan: string;
  title: string;
  organization: string;
  description?: string;
}

const { timespan, title, organization, description } = Astro.props as Props;
---

<div class="resume-card">
  <div class="resume-card__title">
    <time class="resume-card__timespan">{timespan}</time>
    <h2>{title}</h2>
    <span class="resume-card__subtext">{organization}</span>
  </div>
  {description && <p class="resume-card__description">{description}</p>}
</div>

<style>
  .resume-card {
    margin-bottom: 2rem;
  }

  .resume-card__title {
    margin-bottom: 1rem;
  }

  .resume-card__timespan {
    display: block;
    margin-bottom: 1rem;
    font-family: "Archivo Narrow", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  .resume-card__subtext {
    display: block;
    opacity: 0.7;
    text-transform: uppercase;
    font-family: "Archivo Narrow", sans-serif;
    letter-spacing: 0.1rem;
  }

  .resume-card__title > h2 {
    margin-bottom: 0.2rem;
  }

  .resume-card__description {
    margin-top: 0.5rem;
  }
</style>
